@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
	margin: 0;
	padding: 0;
	outline: none;
}
.li {
	padding: 0;
    margin: 0;
    overflow: auto;
}
html {
	width: 100%;
	height: 100%;
	background-color: #e8e0bd;

}
html, body {
    /* Убирает прокрутку по горизонтале, для мобильной версии */
    overflow-x: hidden;
}
@media all and (max-width: 470px) {
  #page {
    	overflow-x:hidden; 
         width: 100%;
  }
}
.header{
	width: 100%;
	height:500px;
	background: url(../img/шапка.jpg) no-repeat ;
	background-size: cover;
}

.head {
	width: 100%;
	position: fixed;
	background-color: #020202;
	opacity: 0.6;
	z-index: 1;
}

.logo{

   	object-position: center;
   	float: left;
   	margin: 0px 0px 0px 1%;	
}

.logo img{border-radius: 50% ;}

.menu{
	height: 100%;
	size: cover;
	float: right;
	list-style: none; 
  	margin: 0; 
  	padding-left: 0;
  	display: flex;
  	text-align: center;
}
.menuli {
	text-decoration: none;
	height: 50%;
	margin: 20px 15px 0px 0px;
	text-align: center;
	list-style: none;
	color: #fff;
}

.info{
	width: 100%;

	background-color: #e8e0bd;
	display: flex;
}

.block {
	margin: 2% auto 2% auto;
	width: 75%;
	height: 98%;
	box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
	background-color: #e0dbc5;
}
.infoimg {
	object-position: center;
	overflow: hidden;
    text-align: center;
}
.infoimg img{
	border-radius: 50%;
	width: 100px;
	height: 100px;

}
p{
	margin-top: 10px;
}
.infotext {
	font-family: 'Raleway', sans-serif;
	margin: 20px 0px 1% 15px;
	font-size: 1.25em;
}

section.gallery{
	position: relative;
	padding: 45px 0;
}

h2.title{
	font-family: 'Raleway', sans-serif;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 45px;
	position: relative;	
	box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
}
h2.title:after{
	content: "";
	position: absolute;
	width: 100px;
	height: 3px;
	background-color: #111111;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
.gallery-list{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	font-size: 0;
	margin: -30px 10px -36px 10px;
}
.gallery-item{
	display: block;
	flex: 25%;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.gallery-item-hover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	color: #ffffff;
	display: flex;
	align-items: center;
	font-size: 16px;
	opacity: 0;
	transition: opacity .5s ease;
	z-index: 2;
}
.gallery-item:hover .gallery-item-hover{
	opacity: 1;
}
.gallery-item:hover img {
	transform: scale(1.3) rotate(5deg);
}
.gallery-item img {
	max-width: 100%;
	height: auto;
	transition: all time case;
	width: 100%;
	height: 300px;
	object-fit: cover;
}
@media (max-width: 991px){
	.gallery-item{
		flex: 33.3%;
	}
}
@media (max-width: 768px){
	.gallery-item{
		flex: 50%;
	}
}
@media (max-width: 530px){
	.gallery-item{
		flex: 100%;
	}
}

.maps{
	width: 100%;
}
